.slider-item {
  width: 100vw;

  .container {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .title {
    position: relative;
    margin-bottom: 30px;
    font-size: 40px;
    text-align: center;
  }

  .img {
    position: relative;
    margin-bottom: 30px;
    object-fit: contain;
    width: auto;
    height: 300px;
  }

  .text {
    position: relative;
    font-size: 30px;
    text-align: center;
  }
}
