
@font-face {
  font-family: 'Ginger';
  src: url('/fonts/F37GingerRound-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ginger-Bold';
  src: url('/fonts/F37GingerRound-Bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ginger-Light';
  src: url('/fonts/F37GingerRound-Light.otf');
  font-weight: normal;
  font-style: normal;
}
