@import './reset.css';
@import '~styles/Variables';

html,
body {
  width: 100%;
  height: 100%;
  // overflow: hidden;
  font-family: 'SF-Pro-Display-Bold';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $pink;
  background-color: $black;
}

body.progress {
  cursor: progress;
}

#app {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.app {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.pages {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.page {
  z-index: 1;
  position: relative;
  width: 100%;
  min-height: 100%;
}
